@page
@model StudentManagementSystem.Pages.AddStudent

@{
    ViewData["Title"] = "Add Student";
}

<h1>Add Student</h1>

<form method="post" class="form-container">
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Student.StudentId">Student ID</label>
        <input asp-for="Student.StudentId" class="form-control"/>
        <span asp-validation-for="Student.StudentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Student.FirstName">First Name</label>
        <input asp-for="Student.FirstName" class="form-control"/>
        <span asp-validation-for="Student.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Student.LastName">Last Name</label>
        <input asp-for="Student.LastName" class="form-control"/>
        <span asp-validation-for="Student.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Student.DateOfBirth">Date of Birth</label>
        <input asp-for="Student.DateOfBirth" class="form-control"/>
        <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Student.Email">Email</label>
        <input asp-for="Student.Email" class="form-control"/>
        <span asp-validation-for="Student.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Student.Phone">Phone number</label>
        <input asp-for="Student.Phone" class="form-control"/>
        <span asp-validation-for="Student.Phone" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Student</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}