@page
@model StudentManagementSystem.Pages.SeeStudents

@{
    ViewData["Title"] = "Students";
}

<h1>Students List</h1>

<div class="students-table-container">
    <table>
        <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Students.Count == 0)
        {
            <tr>
                <td colspan="3">No students found.</td>
            </tr>
        }
        else
        {
            foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.firstName</td>
                    <td>@student.lastName</td>
                    <td>
                        <button>
                            <a asp-page="/Report" asp-route-id="@student.StudentId">See Report</a>
                        </button>
                        <button title="Export report to PDF">
                            Export
                        </button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
